<mat-card class="card mat-elevation-z4">
  <ng-container *ngIf="checkout; else loadingOrError">
    <mat-card-title class="card__title">
      <span>Checkout</span>
      <div class="title__buttons">
        <button
          *ngIf="checkout.borrowedBook.status === 'BORROWED'"
          mat-flat-button
          color="primary"
          [disabled]="isProcessingRequest"
          (click)="markReturn()"
        >
          Mark return
        </button>
        <button
          mat-flat-button
          color="{{ showEditCheckout ? 'accent' : 'primary' }}"
          (click)="toggleEditCheckout()"
        >
          {{ showEditCheckout ? "Close" : "Edit" }}
        </button>
        <button
          mat-flat-button
          color="warn"
          [disabled]="isProcessingRequest"
          (click)="openDeletionDialog()"
        >
          Delete
        </button>
      </div>
    </mat-card-title>
    <mat-card-content class="card__content">
      <ng-container *ngIf="error">
        <div class="alert">
          {{ error.error.message || error.error.error || error.message }}
        </div>
      </ng-container>
      <app-checkout-form
        *ngIf="showEditCheckout"
        [checkout]="checkout"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="editCheckout($event)"
      ></app-checkout-form>
      <table>
        <tr>
          <th>ID</th>
          <td>{{ checkout.id }}</td>
        </tr>
        <tr>
          <th>Borrower first name</th>
          <td>{{ checkout.borrowerFirstName }}</td>
        </tr>
        <tr>
          <th>Borrower last name</th>
          <td>{{ checkout.borrowerLastName }}</td>
        </tr>
        <tr>
          <th>Borrowed book</th>
          <td>
            <table>
              <tr>
                <th>ID</th>
                <td>{{ checkout.borrowedBook.id }}</td>
              </tr>
              <tr>
                <th>Title</th>
                <td>{{ checkout.borrowedBook.title }}</td>
              </tr>
              <tr>
                <th>Author</th>
                <td>{{ checkout.borrowedBook.author }}</td>
              </tr>
              <tr>
                <th>Year</th>
                <td>{{ checkout.borrowedBook.year }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <th>Checkout date</th>
          <td>{{ checkout.checkedOutDate }}</td>
        </tr>
        <tr>
          <th>Due date</th>
          <td>{{ checkout.dueDate }}</td>
        </tr>
        <tr>
          <th>Return date</th>
          <td>{{ checkout.returnedDate }}</td>
        </tr>
        <tr>
          <th>Comment</th>
          <td>
            {{ checkout.comment }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </ng-container>

  <!--
    Reference: https://codinglatte.com/posts/angular/angular-async-pipe-handle-errors/
    I decided to show message from Error instead of leaving spinner to stay indefinitely and confuse a user.
   -->
  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <div class="alert">
        {{ error.message }}
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="spinner-modal">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
