<mat-card class="card mat-elevation-z0">
  <ng-container *ngIf="checkout; else loadingOrError">
    <mat-card-title class="card-title">
      <span>Checkout</span>
      <div class="container">
        <!-- Set return date in checkout, set book state to RETURNED and reset book's due date -->
        <button
          *ngIf="checkout.borrowedBook.status === 'BORROWED'"
          mat-flat-button
          color="primary"
          [disabled]="isProcessingRequest"
          (click)="markReturn()"
        >
          Mark return
        </button>

        <!-- Show/hide checkout editing form -->
        <button
          mat-flat-button
          color="{{ showEditCheckout ? 'accent' : 'primary' }}"
          (click)="toggleEditCheckout()"
        >
          {{ showEditCheckout ? "Close" : "Edit" }}
        </button>

        <!--  Open checkout deletion confirmation dialog -->
        <button
          mat-flat-button
          color="warn"
          [disabled]="isProcessingRequest"
          (click)="openDeletionDialog()"
        >
          Delete
        </button>
      </div>
    </mat-card-title>
    <mat-card-content class="card-content">
      <!-- Error alert message -->
      <app-error-alert *ngIf="error" [error]="error"></app-error-alert>

      <!-- Checkout editing form -->
      <app-checkout-form
        *ngIf="showEditCheckout"
        [checkout]="checkout"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="editCheckout($event)"
      ></app-checkout-form>

      <!-- Checkout details table -->
      <app-checkout-detail-table
        *ngIf="!showEditCheckout"
        [checkout]="checkout"
      ></app-checkout-detail-table>
    </mat-card-content>
  </ng-container>

  <!--
    Template for showing error or else loading states
    Reference: https://codinglatte.com/posts/angular/angular-async-pipe-handle-errors/
    I decided to show message from Error instead of leaving spinner to stay indefinitely and confuse a user.
   -->
  <ng-template #loadingOrError>
    <!-- Error alert message -->
    <app-error-alert
      *ngIf="error; else loading"
      [error]="error"
    ></app-error-alert>

    <!-- Spinner modal -->
    <ng-template #loading>
      <div class="spinner-modal">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
