<mat-card class="mat-elevation-z0">
  <mat-card-title class="card-title">
    <span>Books</span>
    <div class="container">
      <!-- Show/hide book filter form -->
      <button
        mat-flat-button
        color="{{ showFilterBooks ? 'accent' : 'primary' }}"
        (click)="toggleFilterBooks()"
      >
        {{ showFilterBooks ? "Close" : "Filter" }}
      </button>

      <!-- Show/hide book addition form -->
      <button
        mat-flat-button
        color="{{ showAddBook ? 'accent' : 'primary' }}"
        (click)="toggleAddBook()"
      >
        {{ showAddBook ? "Close" : "Add" }}
      </button>
    </div>
  </mat-card-title>
  <mat-card-content class="card-content">
    <!-- Book addition form -->
    <app-book-form
      *ngIf="showAddBook"
      (onSubmit)="addBook($event)"
    ></app-book-form>

    <!-- Book filter form -->
    <app-book-filter-form
      *ngIf="showFilterBooks"
      (onSubmit)="filterBooks($event)"
    ></app-book-filter-form>

    <!-- Book search form -->
    <app-book-search-form
      *ngIf="!showAddBook && !showFilterBooks"
      (onSubmit)="searchBooks($event)"
    ></app-book-search-form>

    <!-- Books table -->
    <app-mat-books-table
      *ngIf="!showAddBook"
      [dataSource]="dataSource"
      [length]="booksCount"
      [pageSize]="20"
      [loading]="isLoadingBooks"
      (onRowClick)="openBookDetails($event)"
    ></app-mat-books-table>
  </mat-card-content>
</mat-card>
