<mat-card class="card mat-elevation-z4">
  <mat-card-title class="card__title">
    <span>Books</span>
    <div class="title__buttons">
      <!-- Show/hide book filter form -->
      <button
        mat-flat-button
        color="{{ showFilterBooks ? 'accent' : 'primary' }}"
        (click)="toggleFilterBooks()"
      >
        {{ showFilterBooks ? "Close" : "Filter" }}
      </button>

      <!-- Show/hide book addition form -->
      <button
        mat-flat-button
        color="{{ showAddBook ? 'accent' : 'primary' }}"
        (click)="toggleAddBook()"
      >
        {{ showAddBook ? "Close" : "Add" }}
      </button>
    </div>
  </mat-card-title>
  <mat-card-content class="card__content">
    <!-- Book addition form -->
    <app-book-form
      *ngIf="showAddBook"
      (onSubmit)="addBook($event)"
    ></app-book-form>

    <!-- Book filter form -->
    <app-book-filter-form
      *ngIf="showFilterBooks"
      (onSubmit)="filterBooks($event)"
    ></app-book-filter-form>

    <!-- Book search form -->
    <app-book-search-form
      *ngIf="!showAddBook && !showFilterBooks"
      (onSubmit)="searchBooks($event)"
    ></app-book-search-form>

    <!-- Books table -->
    <!-- Can't use *ngIf, because after show->hide->show actions table's rows are not rendered -->
    <app-mat-books-table
      [dataSource]="dataSource"
      [length]="booksCount"
      [pageSize]="20"
      [ngStyle]="{ display: showAddBook ? 'none' : 'block' }"
      (onRowClick)="openBookDetails($event)"
    ></app-mat-books-table>
  </mat-card-content>
</mat-card>
