table {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 2em auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  outline: none;
  text-decoration: underline;
}
