.card {
  max-width: 1024px;
  // 100vh - toolbar height, card margin and padding
  min-height: calc(100vh - 35px - 4em - 32px);
  margin: 2em auto;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__buttons {
  display: flex;
  column-gap: 8px;
}

.card__content {
  position: relative;
}

.content__spinner-modal {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 0.5);
}

.content__spinner-modal--table {
  // table header height, search form height
  top: calc(56px + 70px);
  bottom: 56px;
}

.content__table-container {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  // 100vh - toolbar height, card margin and padding, card title height, search form height, pagination height
  min-height: calc(100vh - 35px - 4em - 32px - 44px - 70px - 56px);
}

.table__no-data-modal {
  position: absolute;
  inset: 0;
  // table header height, search form height
  top: calc(56px + 70px);
  bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Use already created by material table classes
// This is convenient because there is no need to directly add custom classes in html markup
.mat-column-title {
  width: 40%;
}

.mat-column-author {
  width: 21%;
}

.mat-column-year {
  width: 7%;
}

.mat-column-genre {
  width: 21%;
}

.mat-column-status {
  width: 11%;
}

.mat-row:hover {
  cursor: pointer;
  background-color: rgb(0 0 0 / 0.1);
  transition: background-color 200ms ease-out;
}
