.card {
  max-width: 1024px;
  margin: 2em auto;
}

.card__content {
  position: relative;
}

.modal-spinner {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  outline: none;
  text-decoration: underline;
}

.title-column {
  width: 40%;
}

.author-column {
  width: 21%;
}

.year-column {
  width: 7%;
}

.genre-column {
  width: 21%;
}

.status-column {
  width: 11%;
}
