.card {
  max-width: 1024px;
  margin: 2em auto;
}

.card__content {
  position: relative;
}

.modal-spinner {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  min-height: 75vh;
}

// Use already created by material table classes
// This is convenient because there is no need to directly add custom classes in html markup
.mat-column-borrowedBookTitle {
  width: 35%;
}

.mat-column-borrowedBookAuthor {
  width: 17.5%;
}

.mat-column-borrower {
  width: 17.5%;
}

.mat-column-checkedOutDate {
  width: 10%;
}

.mat-column-dueDate {
  width: 10%;
}

.mat-column-returnedDate {
  width: 10%;
}

.mat-row:hover {
  cursor: pointer;
  background-color: rgb(0 0 0 / 0.1);
  transition: background-color 200ms ease-out;
}
