<form [formGroup]="bookForm" (ngSubmit)="handleSubmit()">
  <mat-form-field appearance="fill">
    <mat-label> Title </mat-label>
    <input matInput type="text" required formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Author </mat-label>
    <input matInput type="text" required formControlName="author" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Genre </mat-label>
    <input matInput type="text" required formControlName="genre" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Year </mat-label>
    <input matInput type="number" required formControlName="year" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Added </mat-label>
    <input matInput type="date" required formControlName="added" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Checkout count </mat-label>
    <input matInput type="number" required formControlName="checkOutCount" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Status </mat-label>
    <select matNativeControl required formControlName="status">
      <option *ngFor="let status of BOOK_STATUSES" value="{{ status }}">
        {{ status | titlecase }}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Due date </mat-label>
    <input
      matInput
      type="date"
      [required]="bookForm.value.status === 'BORROWED'"
      formControlName="dueDate"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Comment </mat-label>
    <textarea matInput type="text" formControlName="comment"></textarea>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="disableSubmit"
  >
    Submit
  </button>
</form>
