<mat-card class="card mat-elevation-z0">
  <ng-container *ngIf="book; else loadingOrError">
    <mat-card-title class="card-title">
      <div class="container">
        <span>Book</span>

        <!-- Add/remove book to/from favorites -->
        <button
          mat-icon-button
          [ngClass]="{ 'star-icon': true, 'star-icon--active': isFavoriteBook }"
          (click)="toggleFavoriteBook()"
        >
          <mat-icon> star </mat-icon>
        </button>
      </div>

      <div class="container">
        <!-- Show/hide book checkout form -->
        <button
          *ngIf="book.status === 'AVAILABLE'"
          mat-flat-button
          color="{{ showCheckOutBook ? 'accent' : 'primary' }}"
          (click)="toggleCheckOutBook()"
        >
          {{ showCheckOutBook ? "Close" : "Check out" }}
        </button>

        <!-- Show/hide book editing form -->
        <button
          mat-flat-button
          color="{{ showEditBook ? 'accent' : 'primary' }}"
          (click)="toggleEditBook()"
        >
          {{ showEditBook ? "Close" : "Edit" }}
        </button>

        <!-- Open book deletion confirmation dialog -->
        <button
          mat-flat-button
          color="warn"
          [disabled]="isProcessingRequest"
          (click)="openDeletionDialog()"
        >
          Delete
        </button>
      </div>
    </mat-card-title>
    <mat-card-content class="card-content">
      <!-- Error alert message -->
      <ng-container *ngIf="error">
        <div class="alert">
          {{ error.error.message || error.error.error || error.message }}
        </div>
      </ng-container>

      <!-- Book editing form -->
      <app-book-form
        *ngIf="showEditBook"
        [book]="book"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="editBook($event)"
      ></app-book-form>

      <!-- Book checkout form -->
      <app-checkout-form
        *ngIf="showCheckOutBook"
        [checkout]="checkout"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="openCheckoutDialog($event)"
      ></app-checkout-form>

      <!-- Book details table -->
      <app-book-detail-table
        *ngIf="!showEditBook && !showCheckOutBook"
        [book]="book"
      ></app-book-detail-table>
    </mat-card-content>
  </ng-container>

  <!--
    Template for showing error or else loading states
    Reference: https://codinglatte.com/posts/angular/angular-async-pipe-handle-errors/
    I decided to show message from Error instead of leaving spinner to stay indefinitely and confuse a user.
   -->
  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <div class="alert">
        {{ error.error.message || error.error.error || error.message }}
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="spinner-modal">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
