.card {
  position: relative;
  min-height: 100px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.star-icon {
  color: rgb(0 0 0 / 0.1);
}

// TODO research how to use colors from material theme
// I would like to use accent color
.star-icon--active {
  color: #ffd740;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.spinner-modal {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
