.card {
  position: relative;
  max-width: 1024px;
  // 100vh - toolbar height, card margin and padding
  min-height: calc(100vh - 35px - 4em - 32px);
  margin: 2em auto;
}

.spinner-modal {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: rgb(0 0 0 / 0.1);
}

th {
  width: 120px;
  text-align: end;
  padding-right: 1em;
  font-weight: 500;
}

td {
  padding-left: 1em;
}
