<mat-card class="card mat-elevation-z4">
  <ng-container *ngIf="book; else loadingOrError">
    <mat-card-title class="card__title">
      <span>Book</span>
      <div class="title__buttons">
        <button
          *ngIf="book.status === 'AVAILABLE'"
          mat-flat-button
          color="{{ showCheckOutBook ? 'accent' : 'primary' }}"
          (click)="toggleCheckOutBook()"
        >
          {{ showCheckOutBook ? "Close" : "Check out" }}
        </button>
        <button
          mat-flat-button
          color="{{ showEditBook ? 'accent' : 'primary' }}"
          (click)="toggleEditBook()"
        >
          {{ showEditBook ? "Close" : "Edit" }}
        </button>
        <button
          mat-flat-button
          color="warn"
          [disabled]="isProcessingRequest"
          (click)="openDeletionDialog()"
        >
          Delete
        </button>
      </div>
    </mat-card-title>
    <mat-card-content class="card__content">
      <ng-container *ngIf="error">
        <div class="alert">
          {{ error.error.message || error.error.error || error.message }}
        </div>
      </ng-container>
      <app-book-form
        *ngIf="showEditBook"
        [book]="book"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="editBook($event)"
      ></app-book-form>
      <app-checkout-form
        *ngIf="showCheckOutBook"
        [checkout]="checkout"
        [disableSubmit]="isProcessingRequest"
        (onSubmit)="(null)"
      ></app-checkout-form>
      <table>
        <tr>
          <th>ID</th>
          <td>{{ book.id }}</td>
        </tr>
        <tr>
          <th>Title</th>
          <td>{{ book.title }}</td>
        </tr>
        <tr>
          <th>Author</th>
          <td>{{ book.author }}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{ book.year }}</td>
        </tr>
        <tr>
          <th>Genre</th>
          <td>{{ book.genre }}</td>
        </tr>
        <tr>
          <th>Added</th>
          <td>{{ book.added }}</td>
        </tr>
        <tr>
          <th>Checkout count</th>
          <td>{{ book.checkOutCount }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ book.status | titlecase }}</td>
        </tr>
        <tr>
          <th>Due date</th>
          <td>{{ book.dueDate }}</td>
        </tr>
        <tr>
          <th>Comment</th>
          <td>
            {{ book.comment }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </ng-container>

  <!--
    Reference: https://codinglatte.com/posts/angular/angular-async-pipe-handle-errors/
    I decided to show message from Error instead of leaving spinner to stay indefinitely and confuse a user.
   -->
  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <div class="alert">
        {{ error.error.message || error.error.error || error.message }}
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="spinner-modal">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
